body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
    display: inline-block;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}

#servers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#servers td, #servers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#servers tr:nth-child(even){background-color: #f2f2f2;}

#servers tr:hover {background-color: #ddd;}

#servers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #bc0000;
    color: white;
}

.button {
    background-color: #bc0000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #bc0000;
    color: white;
}

.button1 {
    background-color: #bc0000;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #bc0000;
    color: white;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 100px;
    margin-right: 100px;
    border-style: inset;
    border-width: 1px;
}

.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}

#centerdiv {
  margin: 0 auto;
}